apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: supernode:prometheus
rules:
- verbs:
  - get
  - list
  - watch
  apiGroups:
  - ''
  resources:
  - nodes
  - nodes/metrics
  - services
  - endpoints
  - pods
- verbs:
  - get
  apiGroups:
  - ''
  resources:
  - configmaps
- verbs:
  - get
  - list
  - watch
  apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
- verbs:
  - get
  nonResourceURLs:
  - /metrics
  - /metrics/cadvisor
