nameOverride: ""
fullnameOverride: ""

image:
  repository: ghcr.io/txpipe/dolos
  tag: "v0.32.0"
  pullPolicy: IfNotPresent

imagePullSecrets: []

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}
extraLabels: {}

podSecurityContext: {}

securityContext: {}

priorityClassName: ""

resources:
  requests:
    cpu: 50m
    memory: 2Gi
  limits:
    cpu: 1000m
    memory: 2Gi

service:
  type: ClusterIP
  annotations: {}
  labels: {}
  clusterIP: ""
  loadBalancerIP: ""
  externalTrafficPolicy: ""
  grpcPort: 50051
  grpcNodePort: null
  ouroborosPort: 30013
  ouroborosNodePort: null
  minibfPort: 3001
  minibfNodePort: null
  extraPorts: []

persistence:
  enabled: true
  storageClass: ""
  accessModes:
    - ReadWriteOnce
  annotations: {}
  size: 20Gi
  existingClaim: ""

dolos:
  replicas: 1
  network: cardano-preview
  configMountPath: /etc/config
  configFileName: dolos.toml
  command: []
  args:
    - "-c"
    - "/etc/config/dolos.toml"
    - "daemon"
  env: []
  envFrom: []
  extraVolumeMounts: []
  extraVolumes: []
  extraContainers: []
  extraInitContainers: []
  bootstrap:
    enabled: true
    name: bootstrap
    command: []
    args:
      - "-c"
      - "/etc/config/dolos.toml"
      - "bootstrap"
      - "snapshot"
      - "--variant"
      - "full"
    env: []
  terminationGracePeriodSeconds: 180


config:
  create: true
  existingConfigMap: ""
  mountPath: /etc/config
  filename: dolos.toml
  preset: cardano-preview
  customConfig: ""
  upstreamAddress: "127.0.0.1:3000"
  extraFiles: {}
  presets:
    cardano-mainnet: |-
      [upstream]
      peer_address = "{{ .Values.config.upstreamAddress }}"
      network_magic = 764824073
      is_testnet = false

      [storage]
      version = "v1"
      path = "/var/data/mainnet/db"
      max_wal_history = 129600

      [genesis]
      byron_path = "/etc/genesis/mainnet/byron.json"
      shelley_path = "/etc/genesis/mainnet/shelley.json"
      alonzo_path = "/etc/genesis/mainnet/alonzo.json"
      conway_path = "/etc/genesis/mainnet/conway.json"

      [sync]
      pull_batch_size = 100

      [submit]
      prune_height = 200

      [serve.grpc]
      listen_address = "[::]:50051"
      permissive_cors = true

      [serve.minibf]
      listen_address = "[::]:3001"

      [mithril]
      aggregator = "https://aggregator.release-mainnet.api.mithril.network/aggregator"
      genesis_key = "5b3139312c36362c3134302c3138352c3133382c31312c3233372c3230372c3235302c3134342c32372c322c3138382c33302c31322c38312c3135352c3230342c31302c3137392c37352c32332c3133382c3139362c3231372c352c31342c32302c35372c37392c33392c3137365d"

      [logging]
      max_level = "INFO"
      include_tokio = false
      include_pallas = false
      include_grpc = true
      include_trp = false
      include_minibf = false
    cardano-preprod: |-
      [upstream]
      peer_address = "{{ .Values.config.upstreamAddress }}"
      network_magic = 1
      is_testnet = true

      [storage]
      version = "v1"
      path = "/var/data/preprod/db"
      max_wal_history = 129600

      [genesis]
      byron_path = "/etc/genesis/preprod/byron.json"
      shelley_path = "/etc/genesis/preprod/shelley.json"
      alonzo_path = "/etc/genesis/preprod/alonzo.json"
      conway_path = "/etc/genesis/preprod/conway.json"

      [sync]
      pull_batch_size = 100

      [submit]
      prune_height = 200

      [serve.grpc]
      listen_address = "[::]:50051"

      [serve.minibf]
      listen_address = "[::]:3001"

      [mithril]
      aggregator = "https://aggregator.release-preprod.api.mithril.network/aggregator"
      genesis_key = "5b3132372c37332c3132342c3136312c362c3133372c3133312c3231332c3230372c3131372c3139382c38352c3137362c3139392c3136322c3234312c36382c3132332c3131392c3134352c31332c3233322c3234332c34392c3232392c322c3234392c3230352c3230352c33392c3233352c34345d"

      [logging]
      max_level = "INFO"
      include_tokio = false
      include_pallas = false
      include_grpc = true
      include_trp = false
      include_minibf = false
    cardano-preview: |-
      [upstream]
      peer_address = "{{ .Values.config.upstreamAddress }}"
      network_magic = 2
      is_testnet = true

      [storage]
      version = "v1"
      path = "/var/data/preview/db"
      max_wal_history = 129600

      [genesis]
      byron_path = "/etc/genesis/preview/byron.json"
      shelley_path = "/etc/genesis/preview/shelley.json"
      alonzo_path = "/etc/genesis/preview/alonzo.json"
      conway_path = "/etc/genesis/preview/conway.json"

      [sync]
      pull_batch_size = 100

      [submit]
      prune_height = 200

      [serve.grpc]
      listen_address = "[::]:50051"
      permissive_cors = true

      [serve.minibf]
      listen_address = "[::]:3001"

      [mithril]
      aggregator = "https://aggregator.pre-release-preview.api.mithril.network/aggregator"
      genesis_key = "5b3132372c37332c3132342c3136312c362c3133372c3133312c3231332c3230372c3131372c3139382c38352c3137362c3139392c3136322c3234312c36382c3132332c3131392c3134352c31332c3233322c3234332c34392c3232392c322c3234392c3230352c3230352c33392c3233352c34345d"

      [logging]
      max_level = "INFO"
      include_tokio = false
      include_pallas = false
      include_grpc = true
      include_trp = false
      include_minibf = false

livenessProbe:
  enabled: false
  tcpSocket:
    port: grpc
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  enabled: true
  tcpSocket:
    port: grpc
  initialDelaySeconds: 10
  periodSeconds: 10

nodeSelector: {}
tolerations: []
affinity: {}
topologySpreadConstraints: []
